{
        #debug
}
(cloudflare) {
        tls {
                resolvers 1.1.1.1
                dns cloudflare {$DNS_KEY}
#		acme {
#			disable_http_challenge
#			disable_tlsalpn_challenge
#		}
        }
}

(logs) {
        log {
                level DEBUG
                output file /home/sunny/caddy/arkmap/log_access.log {
                        roll_size 100mb
                        roll_keep 2
                        roll_keep_for 72h
                }
        }
}

pihole.axi92.at {
        import cloudflare
        reverse_proxy 127.0.0.1:8085
	rewrite / /admin
}

unifi.axi92.at {
	import cloudflare
	reverse_proxy /inform localhost:8080
	reverse_proxy https://127.0.0.1:4443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

ytdl.axi92.at {
	import cloudflare
	handle {
		reverse_proxy 127.0.0.1:3033
	}
	handle_path /dl/* {
		root * /home/axi92/composes/yt-dlp-web-ui/downloads
		file_server browse
	}
}

localvw.axi92.at {
        import cloudflare
        reverse_proxy 127.0.0.1:8087
}

grocy.axi92.at {
    import cloudflare
    reverse_proxy 127.0.0.1:9283
}

barcodebuddy.axi92.at {
    import cloudflare
    reverse_proxy 127.0.0.1:9284
}
