name: unifi
services:
  controller:
    image: jacobalberty/unifi:${VERSION}
    container_name: unifi
    restart: unless-stopped
    user: 'unifi'
    ports:
        - '8080:8080'
        - '8443:8443'
        - '3478:3478/udp'
    environment:
        - TZ=Europe/Vienna
        - UNIFI_CORE_ENABLED=true
    volumes:
        - './unifi:/unifi'
    env_file:
      - .env
    logging:
      options:
        max-size: 100m
    deploy:
      resources:
        limits:
          cpus: "0.50"       # Limit to 50% of a single CPU
          memory: "1G"     # Limit memory to 1 GB
