services:
  zigbee2mqtt:
    image: "koenkk/zigbee2mqtt:2.6.3"
    restart: always
    ports:
      - "8083:8080"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "./data:/app/data"
      - "/run/udev:/run/udev:ro"
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    environment:
      CRYPTO_POLICY: "unlimited"
    dns:
      - 1.1.1.1
#      - 192.168.0.100
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
